
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(71, 69, 69);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 3rem;

  }
  .title {
     margin-bottom: 2rem;
     text-align: center; 
  }
  .espace {
    margin-bottom: 100px;
  }
  
  .form {
    margin-bottom: 1rem;
    width: 300px;
    height: 350px;
    background-color: white;
    color: black;
   
    
  }
  
  
  
  .input {
    padding: 0.5rem;
    margin-left: 15px;
    margin-bottom: 2.5rem;
    width: 80%; /* Utilise la largeur complète du formulaire */
    text-align: center;
  }
  .input::placeholder {
    text-align: left; /* Aligner le placeholder à gauche */
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 15px;
  }
  
  .checkbox {
    margin-right: 0.5rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5;
    margin-bottom: 2.5rem;
    margin : auto;
    margin-left: 85px;
  }
  .mtp{
    color: yellow;
    text-align: center;
  }
  .inscrire{
    color: yellow;
    text-decoration: none;
  }
  .compte{
    color: white;
  }

  .logoo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2rem;
  }
  .logo {
    margin-right: 25px;
  }